{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.contiguity.com/domains"
        }
    ],
    "info": {
        "version": "v2026.2.11",
        "title": "Domains API"
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {},
        "parameters": {}
    },
    "paths": {
        "/{domain}": {
            "delete": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "description": "The domain to delete",
                            "example": "example.com"
                        },
                        "required": true,
                        "description": "The domain to delete",
                        "name": "domain",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Delete a domain from your account",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "req_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "response"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean",
                                                    "description": "Whether the deletion was successful"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "description": "Success message"
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Bad Request"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 400
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Unauthorized"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 401
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Forbidden"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 403
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Internal Server Error"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 500
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "description": "Domain to register",
                            "example": "example.com"
                        },
                        "required": true,
                        "description": "Domain to register",
                        "name": "domain",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "region": {
                                        "type": "string",
                                        "default": "us-east-1",
                                        "description": "AWS region",
                                        "example": "us-east-1"
                                    },
                                    "custom_return_path": {
                                        "type": "string",
                                        "default": "contiguity",
                                        "description": "Custom return path subdomain",
                                        "example": "contiguity"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Register a domain for email sending",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "req_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "response"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "domain": {
                                                    "type": "string",
                                                    "description": "The registered domain name",
                                                    "example": "example.com"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "description": "Domain ID",
                                                    "example": "dmn_1234567890abcdef"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "description": "Domain verification status",
                                                    "example": "pending_verification"
                                                },
                                                "region": {
                                                    "type": "string",
                                                    "description": "AWS region (us-east-1 is the default and only currently supported region)",
                                                    "example": "us-east-1"
                                                },
                                                "created_at": {
                                                    "type": "number",
                                                    "description": "Domain creation timestamp",
                                                    "example": 1755637604526
                                                },
                                                "sending_allowed": {
                                                    "type": "boolean",
                                                    "description": "Whether sending is allowed (always false on registration)",
                                                    "example": false
                                                },
                                                "records": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "MX",
                                                                    "TXT",
                                                                    "CNAME"
                                                                ],
                                                                "description": "Record type",
                                                                "example": "MX"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "description": "Record name",
                                                                "example": "@"
                                                            },
                                                            "value": {
                                                                "type": "string",
                                                                "description": "Record value",
                                                                "example": "inbound-smtp.us-east-1.amazonaws.com"
                                                            },
                                                            "purpose": {
                                                                "type": "string",
                                                                "description": "Record purpose",
                                                                "example": "Inbound Email"
                                                            }
                                                        },
                                                        "required": [
                                                            "type",
                                                            "name",
                                                            "value",
                                                            "purpose"
                                                        ]
                                                    },
                                                    "description": "DNS records to add to your domain"
                                                }
                                            },
                                            "required": [
                                                "domain",
                                                "id",
                                                "status",
                                                "region",
                                                "created_at",
                                                "sending_allowed",
                                                "records"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Bad Request"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 400
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Unauthorized"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 401
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Forbidden"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 403
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Internal Server Error"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 500
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "description": "The domain to get info for",
                            "example": "example.com"
                        },
                        "required": true,
                        "description": "The domain to get info for",
                        "name": "domain",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get specific domain info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "req_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "response"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "domain": {
                                                    "type": "string",
                                                    "description": "The domain name",
                                                    "example": "example.com"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "description": "Domain ID",
                                                    "example": "dmn_1234567890abcdef"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "description": "Domain verification status",
                                                    "example": "verified"
                                                },
                                                "region": {
                                                    "type": "string",
                                                    "description": "AWS region (us-east-1 is the default and only currently supported region)",
                                                    "example": "us-east-1"
                                                },
                                                "created_at": {
                                                    "type": "number",
                                                    "description": "Domain creation timestamp",
                                                    "example": 1755637604526
                                                },
                                                "sending_allowed": {
                                                    "type": "boolean",
                                                    "description": "Whether sending is allowed using this domain",
                                                    "example": true
                                                },
                                                "records": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "MX",
                                                                    "TXT",
                                                                    "CNAME"
                                                                ],
                                                                "description": "Record type",
                                                                "example": "MX"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "description": "Record name",
                                                                "example": "@"
                                                            },
                                                            "value": {
                                                                "type": "string",
                                                                "description": "Record value",
                                                                "example": "inbound-smtp.us-east-1.amazonaws.com"
                                                            },
                                                            "purpose": {
                                                                "type": "string",
                                                                "description": "Record purpose",
                                                                "example": "Inbound Email"
                                                            }
                                                        },
                                                        "required": [
                                                            "type",
                                                            "name",
                                                            "value",
                                                            "purpose"
                                                        ]
                                                    },
                                                    "description": "DNS records for this domain"
                                                },
                                                "verifications": {
                                                    "type": "object",
                                                    "properties": {
                                                        "dkim": {
                                                            "type": "string",
                                                            "description": "DKIM configuration status",
                                                            "example": "verified"
                                                        },
                                                        "mail_from": {
                                                            "type": "string",
                                                            "description": "Mail-from domain verification status",
                                                            "example": "pending_verification"
                                                        },
                                                        "domain": {
                                                            "type": "string",
                                                            "description": "Domain verification status",
                                                            "example": "verified"
                                                        }
                                                    },
                                                    "required": [
                                                        "dkim",
                                                        "mail_from",
                                                        "domain"
                                                    ],
                                                    "description": "Verification status details"
                                                }
                                            },
                                            "required": [
                                                "domain",
                                                "id",
                                                "status",
                                                "region",
                                                "created_at",
                                                "sending_allowed",
                                                "records",
                                                "verifications"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Bad Request"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 400
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Unauthorized"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 401
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Forbidden"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 403
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Internal Server Error"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 500
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List all domains registered by you",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "req_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "response"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "domains": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "domain": {
                                                                "type": "string",
                                                                "description": "The domain name",
                                                                "example": "example.com"
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "description": "Domain verification status",
                                                                "example": "verified"
                                                            },
                                                            "created_at": {
                                                                "type": "number",
                                                                "description": "Domain creation timestamp",
                                                                "example": 1755637604526
                                                            },
                                                            "id": {
                                                                "type": "string",
                                                                "description": "Domain ID",
                                                                "example": "d_1234567890"
                                                            },
                                                            "region": {
                                                                "type": "string",
                                                                "description": "AWS region",
                                                                "example": "us-east-1"
                                                            },
                                                            "sending_allowed": {
                                                                "type": "boolean",
                                                                "description": "Whether sending is allowed",
                                                                "example": true
                                                            }
                                                        },
                                                        "required": [
                                                            "domain",
                                                            "status",
                                                            "created_at",
                                                            "id",
                                                            "region",
                                                            "sending_allowed"
                                                        ]
                                                    },
                                                    "description": "List of user's domains"
                                                }
                                            },
                                            "required": [
                                                "domains"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Bad Request"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 400
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Unauthorized"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 401
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Forbidden"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 403
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Internal Server Error"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 500
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}