{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.contiguity.com/send"
        }
    ],
    "info": {
        "version": "v2026.2.11",
        "title": "Sending API"
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {},
        "parameters": {}
    },
    "paths": {
        "/email": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "to": {
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "maxItems": 10
                                            }
                                        ],
                                        "description": "Recipient email address(es). Can be a string or array of up to 10 addresses",
                                        "example": "john.doe@example.com"
                                    },
                                    "from": {
                                        "type": "string",
                                        "description": "Accepts: `\"Example <email@domain.com>\"` or `\"Contiguity\"` or `\"email@domain.com\"`",
                                        "example": "Contiguity <no-reply@contiguity.com>"
                                    },
                                    "subject": {
                                        "type": "string",
                                        "description": "Subject of the email",
                                        "example": "Hello, world!"
                                    },
                                    "body": {
                                        "type": "object",
                                        "properties": {
                                            "text": {
                                                "type": "string",
                                                "nullable": true,
                                                "description": "Text content of the email",
                                                "example": "Hello, world!"
                                            },
                                            "html": {
                                                "type": "string",
                                                "nullable": true,
                                                "description": "HTML content of the email",
                                                "example": "<p>Hello, world!</p>"
                                            }
                                        }
                                    },
                                    "reply_to": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Reply-to email address",
                                        "example": "john.doe@example.com"
                                    },
                                    "cc": {
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "maxItems": 10
                                            },
                                            {
                                                "nullable": true
                                            }
                                        ],
                                        "description": "Carbon copy email address(es). Can be a string or array of up to 10 addresses",
                                        "example": [
                                            "john.doe@example.com",
                                            "jane.doe@example.com"
                                        ]
                                    },
                                    "bcc": {
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "maxItems": 10
                                            },
                                            {
                                                "nullable": true
                                            }
                                        ],
                                        "description": "Blind carbon copy email address(es). Can be a string or array of up to 10 addresses",
                                        "example": [
                                            "secret@example.com"
                                        ]
                                    },
                                    "headers": {
                                        "type": "object",
                                        "nullable": true,
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Custom email headers as key-value object",
                                        "example": {
                                            "X-Priority": "1"
                                        }
                                    }
                                },
                                "required": [
                                    "to",
                                    "from",
                                    "subject",
                                    "body"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Send an email",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "req_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "response"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "email_id": {
                                                    "type": "string",
                                                    "description": "The email's ID. Use it to refer to this email in the future, when checking the status of the email or finding it in the Console.",
                                                    "example": "eml_1234567890"
                                                }
                                            },
                                            "required": [
                                                "email_id"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Bad Request"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 400
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Unauthorized"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 401
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Forbidden"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 403
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Internal Server Error"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 500
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/whatsapp": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "to": {
                                        "type": "string",
                                        "description": "Recipient's WhatsApp number. Must be in E.164 format.",
                                        "example": "+1234567890"
                                    },
                                    "from": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Your leased WhatsApp number. If none is provided, we will use a random WhatsApp number of yours.",
                                        "example": "+15555555555"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "The WhatsApp message to send",
                                        "example": "Hello, world!"
                                    },
                                    "fallback": {
                                        "type": "object",
                                        "nullable": true,
                                        "properties": {
                                            "when": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string",
                                                    "enum": [
                                                        "whatsapp_unsupported",
                                                        "whatsapp_fails"
                                                    ]
                                                },
                                                "description": "When to fallback to SMS/RCS. If the recipient does not have WhatsApp, or if WhatsApp fails to send.",
                                                "example": [
                                                    "whatsapp_unsupported",
                                                    "whatsapp_fails"
                                                ]
                                            },
                                            "from": {
                                                "type": "string",
                                                "nullable": true,
                                                "description": "Your leased SMS/RCS number. If none is provided, we will use a random SMS/RCS number of yours. In some instances, your WhatsApp number may support SMS/RCS, and we will fallback to that if left blank.",
                                                "example": "+15555555555"
                                            }
                                        },
                                        "required": [
                                            "when"
                                        ],
                                        "description": "Should Contiguity fallback to SMS/RCS if the recipient does not have WhatsApp, or if WhatsApp fails to send?",
                                        "example": {
                                            "when": [
                                                "whatsapp_unsupported",
                                                "whatsapp_fails"
                                            ],
                                            "from": "+15555555555"
                                        }
                                    },
                                    "attachments": {
                                        "type": "array",
                                        "nullable": true,
                                        "items": {
                                            "type": "string"
                                        },
                                        "maxItems": 10,
                                        "description": "Attachments to send. Must be HTTPS-secured URLs with file extensions. Max 10 attachments, with a cumulative size of 50MB.",
                                        "example": [
                                            "https://example.com/image.png"
                                        ]
                                    }
                                },
                                "required": [
                                    "to",
                                    "message"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Send a WhatsApp message",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "req_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "response"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "message_id": {
                                                    "type": "string",
                                                    "description": "The message's ID. Use it to refer to this message in the future, when checking the status of the message or finding it in the Console.",
                                                    "example": "wapp_1234567890"
                                                }
                                            },
                                            "required": [
                                                "message_id"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Bad Request"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 400
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Unauthorized"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 401
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Forbidden"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 403
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Internal Server Error"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 500
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/whatsapp/typing": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "to": {
                                        "type": "string",
                                        "description": "Recipient's WhatsApp number. Must be in E.164 format.",
                                        "example": "+1234567890"
                                    },
                                    "from": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Your leased WhatsApp number. If none is provided, we will use a random WhatsApp number of yours.",
                                        "example": "+15555555555"
                                    },
                                    "action": {
                                        "type": "string",
                                        "enum": [
                                            "start",
                                            "stop"
                                        ],
                                        "description": "Whether to start or stop sending typing indicators",
                                        "example": "start"
                                    }
                                },
                                "required": [
                                    "to",
                                    "action"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Start or stop sending typing indicators over WhatsApp",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "req_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "response"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string",
                                                    "description": "Status of the typing indicator",
                                                    "example": "started"
                                                }
                                            },
                                            "required": [
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Bad Request"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 400
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Unauthorized"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 401
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Forbidden"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 403
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Internal Server Error"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 500
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/whatsapp/reactions": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "to": {
                                        "type": "string",
                                        "description": "Recipient's WhatsApp number. Must be in E.164 format.",
                                        "example": "+1234567890"
                                    },
                                    "action": {
                                        "type": "string",
                                        "enum": [
                                            "add",
                                            "remove"
                                        ],
                                        "description": "Whether to add or remove a reaction",
                                        "example": "add"
                                    },
                                    "reaction": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "The emoji reaction to send (e.g., '👍', '❤️', or :thumbs_up:, :heart:, :haha: etc.)",
                                        "example": "👍"
                                    },
                                    "message": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Provide either a WhatsApp ID, or complete content of the message to react to.",
                                        "example": "wa_1234567890"
                                    }
                                },
                                "required": [
                                    "to",
                                    "action"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Add or remove a reaction to a WhatsApp message",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "req_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "response"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string",
                                                    "description": "Status of the reaction.",
                                                    "example": "added"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "description": "Text description of the completed action.",
                                                    "example": "Reaction added for +1 555 555 5555"
                                                }
                                            },
                                            "required": [
                                                "status",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Bad Request"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 400
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Unauthorized"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 401
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Forbidden"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 403
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Internal Server Error"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 500
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/text": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "to": {
                                        "type": "string",
                                        "description": "Recipient's phone number. Must be in E.164 format",
                                        "example": "+1234567890"
                                    },
                                    "from": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "If you lease a phone number from Contiguity, you can use a specific one by providing it here.",
                                        "example": "+15555555555"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "The text message to send",
                                        "example": "Hello, world!"
                                    },
                                    "attachments": {
                                        "type": "array",
                                        "nullable": true,
                                        "items": {
                                            "type": "string"
                                        },
                                        "maxItems": 3,
                                        "description": "Attachments to send. Must be HTTPS-secured URLs with file extensions. Max 3 attachments, 5MB cumulative size.",
                                        "example": [
                                            "https://example.com/image.png"
                                        ]
                                    }
                                },
                                "required": [
                                    "to",
                                    "message"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Send a text message",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "req_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "response"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "message_id": {
                                                    "type": "string",
                                                    "description": "The message's ID. Use it to refer to this message in the future, when checking the status of the message or finding it in the Console.",
                                                    "example": "text_1234567890"
                                                }
                                            },
                                            "required": [
                                                "message_id"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Bad Request"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 400
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Unauthorized"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 401
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Forbidden"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 403
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Internal Server Error"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 500
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/text/reactions": {
            "post": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "message_id": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Option A: ID of the message to react to (e.g. text_xxx). Contiguity auto-fills the required fields.",
                                        "example": "text_abc123"
                                    },
                                    "to": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Option B: Recipient phone (E.164). Required when not using message_id.",
                                        "example": "+1234567890"
                                    },
                                    "from": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Option B: Your number to send from (E.164). Optional if you provide a message_id.",
                                        "example": "+15555555555"
                                    },
                                    "message": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Option B: Exact content of the message you are reacting to. Required when not using message_id.",
                                        "example": "Hello there!"
                                    },
                                    "reaction": {
                                        "type": "string",
                                        "enum": [
                                            "love",
                                            "thumbsup",
                                            "thumbsdown",
                                            "haha",
                                            "emphasized",
                                            "questioned"
                                        ],
                                        "description": "Reaction type.",
                                        "example": "love"
                                    },
                                    "action": {
                                        "type": "string",
                                        "enum": [
                                            "add",
                                            "remove"
                                        ],
                                        "description": "Add or remove the reaction.",
                                        "example": "add"
                                    }
                                },
                                "required": [
                                    "reaction",
                                    "action"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Send a reaction to a message via SMS! Use either message_id to react to a message, or provide message information manually.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "req_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "response"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "message_id": {
                                                    "type": "string",
                                                    "description": "ID of the sent reaction message.",
                                                    "example": "text_xyz7fsdlkv89"
                                                }
                                            },
                                            "required": [
                                                "message_id"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Bad Request"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 400
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Unauthorized"
                                                },
                                                "status": {
                                                    "type": "number",
                                                    "example": 401
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "timestamp",
                                        "api_version",
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "err_xxxxxxxxxxxxxxxx"
                                        },
                                        "timestamp": {
                                            "type": "number",
                                            "example": 1770840693983
                                        },
                                        "api_version": {
                                            "type": "string",
                                            "example": "v2026.2.11"
                                        },
[...]
